@font-face {
    font-family: 'BundesSerif Web';
    src: url('https://github.com/stefandier/public/blob/main/BundesSerifWeb-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BundesSerif Web';
    src: url('https://github.com/stefandier/public/blob/main/BundesSerifWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BundesSerif Web';
    src: url('https://github.com/stefandier/public/blob/main/BundesSerifWeb-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BundesSerif Web';
    src: url('https://github.com/stefandier/public/blob/main/BundesSerifWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
